<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-grid *ngIf="courseDetails">
    <ion-row>
      <ion-col>

        <ion-title>
          {{ courseDetails.courseTranslations[0]?.title }}
        </ion-title>

        <ion-img
          [src]="courseDetails?.imagePath">
        </ion-img>

        <ion-item class="time-valid" lines="none">
          <div class="icon-valid">
            <ion-icon slot="start" name="alarm-outline"></ion-icon>
          </div>
          <ion-label color="primary"> <strong> Valid For: </strong> {{ courseDetails.duration }} Day </ion-label>
        </ion-item>

        <div class="video-inro">
          <video *ngIf="courseDetails.courseTranslations[0].introVideoPath" width="100%" height="230" controls>
            <source [src]="courseDetails.courseTranslations[0].introVideoPath" type="video/mp4">
          </video>
        </div>

        <ion-button (click)="sendData($event, courseDetails.id)" *ngIf="courseDetails.statusName === null"> Apply </ion-button>

        <ion-text class="statusMsg" *ngIf="courseDetails.statusName !== null"> {{ courseDetails.statusName }} </ion-text>
        <!-- <ion-button  *ngIf="courseDetails.statusName === '5' "> Course in progress </ion-button>
        <ion-button colors="danger" *ngIf="courseDetails.statusName === '3' "> Course in faild </ion-button>
        <ion-button *ngIf="courseDetails.statusName === '2' "> Expired Without TakingExam  </ion-button>
        <ion-button *ngIf="courseDetails.statusName === '4' "> Applied And Waiting For Approval  </ion-button> -->


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
