<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>


  <ion-grid *ngIf="courseDetails">
    <ion-row>
      <ion-col>

        <ion-title>
          {{ courseDetails.courseTranslations[0]?.title }}
        </ion-title>


        <div *ngIf="courseDetails.courseTranslations[0]?.introVoicePath" class="sound-inro">
          <div class="img-person">
            <img class="intro-logo" src="../../assets/images/char-person.png" />
          </div>
        <div class="icon-sound">
          <div class="img-volume">
            <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-3" (click)="startAudio(courseDetails.courseTranslations[0]?.introVoicePath)" src="../../../assets/icon/Vector.png">
          </ion-img>
          </div>
        </div>
      </div>

        <ion-img
        loading="lazy"
          [src]="courseDetails?.imagePath">
        </ion-img>

        <ion-item class="time-valid" lines="none">
          <div class="icon-valid">
            <ion-icon slot="start" name="alarm-outline"></ion-icon>
          </div>
          <ion-label color="primary"> <strong> Valid For: </strong> {{ courseDetails.duration }} Day </ion-label>
        </ion-item>

        <div class="video-inro">
          <video *ngIf="courseDetails.courseTranslations[0]?.introVideoPath" width="100%" height="230" controls>
            <source [src]="courseDetails.courseTranslations[0]?.introVideoPath" type="video/mp4">
          </video>
        </div>

        <ion-button (click)="sendData($event, courseDetails.id)" *ngIf="courseDetails.statusName === null"> Apply </ion-button>

        <ion-text (click)="downloadCertificate()" class="statusMsg" *ngIf="courseDetails.statusName !== null">
          {{ courseDetails.statusName }}
          <ion-icon name="download-outline"></ion-icon>
        </ion-text>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
