<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercise"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>

    <div class="img-profile">
      <ion-avatar slot="end">
        <img *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
        <img *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
    </div>

    <ion-avatar class="ion-margin-end"  slot="end">
      <img class="img-langauge" [src]="userInfo.languageIcon">
    </ion-avatar>  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-title>
    Puzzle
  </ion-title>
  <ion-icon slot="end"  name="help-circle-outline"></ion-icon>
</ion-toolbar>

<ion-content>

  <div cdkDropListGroup class="drag-group">

  <ion-grid class="puzzle-img">

    <ion-row>

      <ion-col
        size="12"
        class="example-box"
        cdkDropList
        *ngFor="let item of question"
        [cdkDropListData]="item"
        cdkDropListSortingDisabled
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
      <ion-img *ngFor="let item2 of item" [cdkDragDisabled]="true" cdkDrag [src]="item2.imagePath"></ion-img>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid class="puzzle-answer">
    <ion-row  *ngFor="let item of answer">

      <ion-col
        size="12"
        cdkDropList
        [cdkDropListData]="answer"
        (cdkDropListDropped)="drop($event)"
        >
        <div class="puzzle-fix" cdkDrag>

        <div class="title"> {{ item.title }}</div>
          <div class="sound">
            <div class="sound-bg">
              <div class="img-volume">
                <ion-img
                class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
              </ion-img>
              </div>
            </div>
            <img src="../../../assets/icon/tu.png" alt="" />
          </div>
          <div class="sound">
            <div class="sound-bg">
              <div class="img-volume">
                <ion-img
                class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
              </ion-img>
              </div>
            </div>
            <img src="../../../assets/icon/da.png" alt="" />
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
  </div>


</ion-content>


