<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercise"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>

    <div class="img-profile">
      <ion-avatar slot="end">
        <img *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
        <img *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
    </div>

    <ion-avatar class="ion-margin-end"  slot="end">
      <img class="img-langauge" [src]="userInfo.languageIcon">
    </ion-avatar>  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-title>
    Puzzle with image
    <ion-text class="total-result"> {{ lengthQuestion + ' / ' + (currentIndex+1) }} </ion-text>

  </ion-title>
  <ion-icon slot="end"  name="help-circle-outline"></ion-icon>
</ion-toolbar>

<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-slides [pager]="false" #slides [options]="slideOpts">

  <ion-slide>

  <div cdkDropListGroup class="drag-group">

  <ion-grid class="puzzle-img">

    <ion-row>

      <ion-col size="6"
        class="example-box"
        cdkDropList
        *ngFor="let item of questionsArray"
        [cdkDropListData]="item"
        cdkDropListSortingDisabled
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
      <div *ngFor="let item2 of item">
        <ion-img *ngIf="item2.type === 'question' " [src]="item2.imagePath" cdkDrag [cdkDragDisabled]="true"></ion-img>

        <div class="drag-answer" *ngIf="item2.type === 'answer' ">
          <ion-grid class="puzzle-answer">
            <ion-row>

              <ion-col
                size="12"
                >
                <div class="puzzle-fix" cdkDrag [cdkDragDisabled]="false">
                <div (click)="presentPopover($event,item2)" class="title"> {{ item2.keyword }}</div>
                </div>
              </ion-col>

            </ion-row>
          </ion-grid>

        </div>
      </div>

      </ion-col>

    </ion-row>

  </ion-grid>


  <ion-grid class="puzzle-answer">
    <ion-row  *ngFor="let item of answersArray">

      <ion-col
        size="12"
        cdkDropList
        [cdkDropListData]="answersArray"
        (cdkDropListDropped)="drop($event)"
        >
        <div class="puzzle-fix" cdkDrag>

        <div class="title"> {{ item.keyword }}</div>
          <div class="sound">
            <div class="sound-bg">
              <div class="img-volume">
                <ion-img
                class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
              </ion-img>
              </div>
            </div>
            <img  src="../../../assets/icon/tu.png" alt="" />
          </div>
          <div class="sound">
            <div class="sound-bg">
              <div class="img-volume">
                <ion-img
                class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
              </ion-img>
              </div>
            </div>
            <img class="danish-flag" src="../../../assets/icon/da.png" alt="" />
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid >
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-button *ngIf="nextButton" (click)="slideNext()">
          Next
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
        <!-- <mat-paginator
              [length]="questionsArray.length"
              [pageSize]="limit"
              (page)="slideNext($event)"
              >
      </mat-paginator> -->
      </ion-col>
    </ion-row>
  </ion-grid>


  </div>
</ion-slide>

</ion-slides>

</ion-content>


