<ion-header>
  <ion-toolbar class="ios-toolbar">
    <ion-back-button defaultHref="/auth/sign-in" slot="start" color="primary"> </ion-back-button>
  </ion-toolbar>

</ion-header>

  <ion-toolbar class="ios-toolbar">
    <ion-title>  Forgot password</ion-title>
  </ion-toolbar>

<ion-content>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <form [formGroup]="forgetPasswordForm" *ngIf="forgetPasswordForm"
      (ngSubmit)="onResetPassword()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="Email" required></ion-input>
        </ion-item>
        <ion-text color="danger" class="error ion-padding" *ngIf="forgetPasswordFormErrors.Email">
          {{forgetPasswordFormErrors.Email }}
        </ion-text>

        <ion-button type="button" [disabled]="forgetPasswordForm.invalid" (click)="onResetPassword()" color="primary"> Reset </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
