@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import '~swiper/swiper-bundle';


/* header Top */
ion-icon {font-size: 35px;}


ion-header ion-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}


.img-course-intro {
  margin-bottom: 30px;

  .img-volume {
    text-align: center;
    margin: auto;
    width: 24px;
    height: 24px;
    position: relative;
    top: 12px;
  }
}

.icon-sound {
  background-color: #A7F781;
  border: 1px solid #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  margin: auto;
  // bottom: -20px;

  ion-icon {
    font-size: 32px;
    color: var(--ion-color-second-app)!important;
  }

}

ion-slides {
   height: 600px!important;
}

.course__material {

  .course__material-block {

    -webkit-box-shadow: 0 0 15px rgb(51 51 51 / 10%);
    box-shadow: 0 0 15px rgb(51 51 51 / 10%);
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    height: 370px;
    cursor: pointer;
    border: 1px solid rgb(204 204 204 / 75%);
    margin-top: 10px;
    height: 550px;
    overflow: auto;

    ion-text {
      text-align: left;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      line-height: 22px;
    }

    ion-img.material-image {
      border: 2px solid #e8e8e8;
      width: 50%;
      padding: 0;
      margin: 0 auto 20px auto;
    }

  }

}

.slide-button {
  ion-icon {
    font-size: 22px;
  }

}

ion-spinner{
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
}

.img-langauge {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 13px;
  top: 14px;
  border: 1px solid #ccc;
}



.course__sound {
  margin: 0 0 50px 0;
}

