@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import '~swiper/swiper-bundle';


/* header Top */
ion-icon {font-size: 35px;}

ion-header ion-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}


.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-avatar {
    width: 50px;
    margin-top: 10px;
    height: auto;
  }

  ion-label {
    font-size: 15px;
    padding-left: 10px;
  }
}

.img-course-intro {
  margin-bottom: 30px;

  .img-volume {
    text-align: center;
    margin: auto;
    width: 24px;
    height: 24px;
    position: relative;
    top: 12px;
  }
}

.icon-sound {
  background-color: #A7F781;
  border: 1px solid #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -20px;

  ion-img {
    position: relative;
  }

  ion-icon {
    font-size: 32px;
    color: var(--ion-color-second-app)!important;
  }

}


.course__material {

  p {
    text-align: center;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 27px;
  }

}

.slide-button {

  ion-icon {
    font-size: 25px;
  }
}
