@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import '~swiper/swiper-bundle';


/* header Top */
ion-icon {font-size: 35px;}


ion-header ion-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}


.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-avatar {
    width: 60px;
    margin: 5px 0;
    height: 60px;
  }

  ion-label {
    font-size: 15px;
    padding-left: 10px;
  }
}

.img-course-intro {
  margin-bottom: 30px;

  .img-volume {
    text-align: center;
    margin: auto;
    width: 24px;
    height: 24px;
    position: relative;
    top: 12px;
  }
}

.icon-sound {
  background-color: #A7F781;
  border: 1px solid #fff;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  margin: auto;
  // bottom: -20px;

  ion-icon {
    font-size: 32px;
    color: var(--ion-color-second-app)!important;
  }

}

ion-slides {
  height: 800px!important;

}


.course__material {


  .course__material-block {

    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    border: 1px dotted #003182;
    box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
    -webkit-box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
    -moz-box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
    height: 500px;
    overflow: auto;

    ion-text {
      text-align: left;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      line-height: 25px;
    }

    ion-img.material-image {
      border: 2px solid #e8e8e8;
      width: 50%;
      padding: 0;
      margin: 0 auto 20px auto;
    }

  }

}

.slide-button {

  // position: fixed;
  // width: 100%;
  // padding: 0 10px;

  ion-icon {
    font-size: 25px;
  }

}

ion-spinner{
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
}

.img-langauge {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 13px;
  top: 14px;
  border: 1px solid #ccc;
}



.course__sound {
  margin: 0 0 50px 0;
}


@media(min-width: 767px) and (max-width: 2000px) {

  .course__material {

    .course__material-block  {
      background-color: #fff;
      padding: 40px 20px;
      border-radius: 10px;
      border: 1px dotted #003182;
      box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
      -webkit-box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
      -moz-box-shadow: 2px 2px 10px 0px rgb(92 92 92 / 64%);
      height: 500px;
      overflow: auto;
    }

  }

  ion-img.material-image {
    max-width: 100%!important;
    padding: 0;
    margin: 0 auto 20px auto;
  }


}
