<ion-toolbar>
  <ion-title>
    All Courses
  </ion-title>
</ion-toolbar>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" >
        <ion-img src="../../../assets/images/img-intro.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>

        <ion-card class="course">
          <ion-img  src="../../../assets/images/image-course.png"></ion-img>
          <h3 class="padding-top"  color="primary"> the title of course </h3>
          <ion-item>
            <ion-label color="primary" slot="start">Btn Sound</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
