<ion-toolbar>
  <ion-title>
    All Courses
  </ion-title>
</ion-toolbar>

<ion-content>

<ion-grid class="img-course-intro">
  <ion-row>
    <ion-col>
      <div class="img-intro">
        <ion-img loading="lazy" src="../../../assets/images/shutterstock_360072566.jpg"></ion-img>
      </div>
      <div class="icon-sound" (click)="startAudio(courseAudio)">
        <div class="img-volume">
          <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-3"  src="../../../assets/icon/Vector.png">
        </ion-img>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col *ngFor="let course of courses" size-sm="12" size-md="12" size-lg="4" size-xl="3">
        <ion-card  class="course course-desktop">
          <ion-img class="img-all-course" loading="lazy" src="{{course.imagePath}}"></ion-img>
          <h3 class="padding-top"  color="primary"> {{course.courseTranslations[0]?.title}} </h3>
          <ion-item>
              <div *ngIf="course.courseTranslations[0]?.introVoicePath">
                <div class="icon-sound-course">
                    <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!course.audioElement.status? 'play' : 'stop'" (click)="playIntroHTML(course)">
                    </ion-icon>
                  </div>
              </div>

            <ion-button (click)="getCourse(course.id)"  fill="outline" slot="end">
              <ion-icon name="eye"></ion-icon>
              View
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
