<app-top-header></app-top-header>

<ion-toolbar class="ios-toolbar">
  <ion-title>Privacy policy</ion-title>
</ion-toolbar>

<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="10">
        <div class="privacy-policy" *ngFor="let policy of policyData">
          <ion-text [innerHTML]="policy.content"></ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
