<ion-header>
  <ion-toolbar>
    <ion-title>Final Test Single Choice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Single final Test -->
  <form [formGroup]="singleForm">

    <ion-slides  [pager]="false" #slides [options]="slideOpts">
      <ion-slide>

    <ion-grid>

      <ion-list class="single-choice">
        <ion-radio-group formControlName="answer">

          <ion-list-header>
            <ion-text *ngIf="allTestData"> {{ allTestData['singleChoice'].question }} </ion-text>
          </ion-list-header>

          <ion-item>
            <ion-label>JA</ion-label>
            <ion-radio [value]="true"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>NEJ</ion-label>
            <ion-radio [value]="false"></ion-radio>
          </ion-item>

          <ion-text color="danger" *ngIf="singleFormErrors.answer">{{singleFormErrors.answer}}</ion-text>
        </ion-radio-group>

      </ion-list>
    </ion-grid>
  </ion-slide>
</ion-slides>

<ion-grid>
  <ion-row class="ion-align-items-center slide-button">

    <ion-col size="6" >
      <ion-button
      [disabled]='!singleForm.valid'
      (click)="slidePrev()"> <ion-icon name="chevron-back-outline"></ion-icon> prev </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button
      [disabled]='!singleForm.valid'
        (click)="slideNext()"
        >  next <ion-icon name="chevron-forward-outline"></ion-icon> </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</form>



<!-- Single inal test -->

</ion-content>
