.inro-screen {
  margin: 50px 0;

  .video-inro {
    margin: 80px 0;
  }

  .button-subscribe {

    ion-button {
      --background : var(--ion-color-second-app)!important;
      --border-radius: 50px!important;
      font-size: 18px !important;
      font-weight: 400;
      width: 90%;
      height: 45px;
      --box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.16);
      margin: 0 0 20px 0;
      text-transform: capitalize;
    }
  }
}
