<ion-content>

  <div class="inro-screen ion-text-center">
    <img class="intro-logo" src="../../assets/images/Easylearn.png" alt="logo-intro" />

    <div class="video-inro">
      <video  controls>
        <source src="https://www.youtube.com/watch?v=LHxsRIxwTrQ" type="video/mp4">
      </video>
    </div>

    <ion-grid>
      <ion-row>
          <ion-button [routerLink]="['/auth/sign-in']">
            Sign In
          </ion-button>

          <ion-button [routerLink]="['/auth/sign-up']">
            Sign Up
          </ion-button>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>
