<ion-header>
  <ion-toolbar>
    <ion-title>apply-course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form class="form">
          <ion-item lines="none">
            <ion-label position="fixed"> From </ion-label>
            <ion-input  type="date"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="fixed"> To </ion-label>
            <ion-input value="20/2/2021" type="text"></ion-input>
          </ion-item>


          <ion-button (click)="getCourseMaterial()">
            Submit
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
