<div class="choose-language">
  <h1 class="title"> Choose Language </h1>
  <ion-img class="icon-down" src="../../assets/icon/icon-down.png"></ion-img>
</div>


<ion-content>

  <ion-grid class="lang-bg">

    <ion-row>

      <ion-col size-xs="4" size-md="3" *ngFor="let flag of flagsLanguage">
        <ion-img [src]="flag.imgSrc" class="lang-img"></ion-img>
        <h3> <ion-text> {{ flag.name }} </ion-text> </h3>
      </ion-col>

    </ion-row>

  </ion-grid>
  <div class="button-start">
    <!-- <ion-spinner *ngIf="isLoading"></ion-spinner> -->
    <ion-button  (click)="goToIntroPage()">
      <ion-img src="../../assets/images/logo-hand-2.png"></ion-img>
      START
    </ion-button>
  </div>


</ion-content>
