<div class="choose-language">
  <h1 class="title"> Choose Language </h1>
</div>


<ion-content>

  <ion-grid class="lang-bg">

    <ion-row>

      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <ion-col *ngFor="let item of langItems; let i = index"  size-xs="4" size-md="3">
        <ion-img
          [ngClass]="{'active': isActive(item)}"
          (click)="getLanguageId(item)"
          [src]="item.icon" class="lang-img"></ion-img>
        <h3> <ion-text color="primary"> {{ item.name }} </ion-text> </h3>
      </ion-col>
      <!-- [ngClass]="isSelected ? 'flag-border' : 'flag-unborder'" -->
    </ion-row>

  </ion-grid>
  <div class="button-start">

    <ion-button [disabled]='!selected' (click)="chooseLanguage()">
      <ion-img src="../../assets/images/logo-hand-2.png"></ion-img>
      START
    </ion-button>
  </div>


</ion-content>
