<div class="choose-language">
  <h1 class="title"> Choose Language </h1>
</div>


<ion-content>

  <ion-grid class="ion-text-center lang-bg">

    <ion-row>

      <ion-col size="6">
        <ion-img src="../../assets/images/arabic-512.png"></ion-img>
      </ion-col>

      <ion-col size="6">
        <ion-img src="../../assets/images/turkiy-512.png"></ion-img>
      </ion-col>

      <ion-col size="6">
        <ion-img src="../../assets/images/danish-512.png"></ion-img>
      </ion-col>

      <ion-col size="6">
        <ion-img src="../../assets/images/artrya-512.png"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>
  <div class="button-start">
    <ion-button (click)="goToIntroPage()">
      <ion-img src="../../assets/images/logo-hand-2.png"></ion-img>
      START
    </ion-button>
  </div>


</ion-content>
