.choose-language{

h1.title {
    text-align: center;
    color: var(--ion-color-second-app);
    font-weight: 600 !important;
    font-size: 25px;
    margin: 70px 0 15px 0;
  }
  .icon-down {
    width: 30px;
    height: auto;
    margin: auto;
  }


}

.lang-bg {

  margin: 40px 0;

  .lang-img {
    width: 62px;
    height: 62px;
    margin: auto;
  }

  h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
    text-transform: capitalize;
  }
}

// .lang-bg ion-img {
//   width: 90px!important;
//   margin: 15px auto;
// }

.button-start {
  margin: 50px auto 0 auto;
  text-align: center;
}

ion-button {
  --background : var(--ion-color-second-app)!important;
  --border-radius: 50px!important;
  font-size: 22px !important;
  font-weight: 500;
  width: 90%;
  height: 55px;
  --box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);

  ion-img {
    max-width: 45px;
    height: auto;
  }
}

.button-start ion-img {
  padding-right: 10px;
}

ion-spinner  {
  text-align: center!important;
  margin: auto;
}


