ion-title {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;

}

.course-date ion-item {
  margin: 0!important;
}

ion-item {
  margin: 10px 0!important;
  padding: 0 !important;
}

.icon-valid {
  width: 30px;
  height: 30px;
  line-height: 37px;
  background-color: var(--ion-color-second-app);
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;

  ion-icon {
    color: #A7F781;
    font-size: 18px;
  }

}

ion-label {
  font-size: 16px;
  font-weight: 500;
  --color: var(--ion-color-second-app);
}

.btn {

  margin: 20px 0;

  ion-button {
    margin: 10px 0;
  }
}

ion-spinner{
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
}

video {
  padding: 0!important;
  margin-top: 10px;
}

