<ion-content class="background-image">

  <div class="sign-up">

    <h3> Signup </h3>

    <form  [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)">
    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="6" *ngIf="flagsToggle['firstnameFlag']">
          <div class="form-group">
            <label >Firstname</label>
            <input type="text" formControlName="FirstName" required />
            <div *ngIf="inputControl['FirstName'].touched && inputControl['FirstName'].invalid">
              <ion-text *ngIf="inputControl['FirstName'].errors['required']" color="danger" class="error">
                Firstname is required
              </ion-text>
            </div>
          </div>
        </ion-col>

        <ion-col size="6" *ngIf="flagsToggle['lastnameFlag']">
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" formControlName="LastName" required />
            <div *ngIf="inputControl['LastName'].touched && inputControl['LastName'].invalid">
              <ion-text *ngIf="inputControl['LastName'].errors['required']" color="danger" class="error">
                Lastname is required
              </ion-text>
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['phonNumberFlag']">
          <div class="form-group">
            <label> Phone Number </label>
            <input type="text" formControlName="PhoneNumber" minlength="11" />
            <!-- <ion-text color="danger" *ngIf="registerForm.controls.PhoneNumber.hasError('minlength')">
              The phone number must be 12 numbers
            </ion-text> -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['emailFlag']">
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" required />
            <div *ngIf="inputControl['email'].touched && inputControl['email'].invalid">
              <ion-text *ngIf="inputControl['email'].errors['required']" color="danger" class="error">
                Email is required
              </ion-text>
              <ion-text *ngIf="inputControl['email'].errors && inputControl['email'].errors['invalidEmail']" color="danger" class="error">
                Please add valid email
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['dateOfBirthFlag']">
          <div class="form-group">
            <label> Birthday </label>
            <input type="date" formControllName="Birthdate" required />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label> Password </label>
            <input type="password" formControlName="password" required />
            <div *ngIf="inputControl['password'].touched && inputControl['password'].invalid">
              <ion-text *ngIf="inputControl['password'].errors['required']" color="danger" class="error">
                Passowrod is required
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label>Confirm password</label>
            <input formControlName="confirmPassword" type="password" required />
            <div *ngIf="inputControl['confirmPassword'].touched && inputControl['confirmPassword'].invalid">
              <ion-text *ngIf="inputControl['confirmPassword'].errors['required']" color="danger" class="error">
                Confirm Password is required
              </ion-text>
              <ion-text *ngIf="inputControl['confirmPassword'].errors && inputControl['confirmPassword'].errors['mismatchedPasswords']" color="danger" class="error">
                Password no match
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <label> Nickname </label>
            <input type="text" formControlName="Nickname" required />
            <div *ngIf="inputControl['Nickname'].touched && inputControl['Nickname'].invalid">
              <ion-text *ngIf="inputControl['Nickname'].errors['required']" color="danger" class="error">
                Nickname is required
              </ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['genderFlag']">
          <div>
            <ion-radio-group formControlName="Gender" value="gender">
              <ion-list-header>
                <ion-label> Gender </ion-label>
              </ion-list-header>

                <ion-row>
                  <ion-col size="6" *ngFor="let genderItem of gender">
                    <ion-item>
                      <ion-label>{{ genderItem.name }}</ion-label>
                      <ion-radio slot="start" [value]="genderItem.value"></ion-radio>
                    </ion-item>
                  </ion-col>

                </ion-row>

            </ion-radio-group>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['recommendedByFlag']">
          <div class="form-group">
              <label>{{ 'Recommended' | translate}}</label>
              <select formControlName="recommendedbyId" value="brown" okText="Okay" cancelText="Dismiss">
                <option *ngFor="let item of allRecommended" [ngValue]="item.id">
                  {{ item.recommendedByTranslations[0].description }}
                </option>
              </select>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="flagsToggle">
      <ion-row>
        <ion-col size="12" *ngIf="flagsToggle['uploadImageFlag']">
          <div class="form-group">
            <label>Upload image</label>
            <input
              type="file"
              class="custom-file-input"
              multiple="false"
              accept="image/*"
              (change)="uploadImg($event)" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
            <ion-label style="cursor: pointer;" (click)="openChooseLanguage(content)">Choose Language: <b> {{ languageTitle }} </b></ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
              <ion-label>I agree to</ion-label>
              <ion-checkbox formControlName="acceptTerms" slot="start"></ion-checkbox>
              <ion-text
              style="cursor: pointer; 
              z-index: 20000000000;" (click)="open(contentTerms)"> Terms & Conditions 
              </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row ion-align-items-center>
        <ion-col size="12">
          <ion-button
          [disabled]="registerForm.invalid"
          (click)="onRegisterFormSubmit(registerForm.value)"
          >
            Signup
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row ion-align-items-center>
        <ion-col size="12">
          <p class="no-account">
            Do you have an account? <span>
              <a [routerLink]="['/auth/sign-in']"> Sign in </a>
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  </div>

</ion-content>

 <!-- Terms And Condition -->
 <ng-template #contentTerms let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Terms & Conditions</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ion-text 
    [innerHTML]="termsAndConditionsText['termsAndConditionsTranslation'][0].content | sanitizeHtml" >
    </ion-text>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Agr</button>
  </div> -->
</ng-template>
<!-- Terms And Condition -->

  <!-- Choose language -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Choose Language </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <ion-grid class="lang-bg">
        <ion-row>
          <ion-col style="text-align: center;" *ngFor="let item of langItems; let i = index"  size-xs="4" size-md="3">
            <ion-img
              [ngClass]="{'active': isActive(item)}"
              (click)="getLanguageId(item)"
              [src]="item.icon" class="lang-img"></ion-img>
            <h3> <ion-text color="primary"> {{ item.name }} </ion-text> </h3>
          </ion-col>
        </ion-row>
  
      </ion-grid>
    </div>
  </ng-template>
  <!-- Choose language -->