.background {
  --background: url(../../../assets/images/spray 4.png) top right no-repeat;
  position: relative;
  top: 30px;
}

.form {

  margin: 20px 0;

  ion-item {
    // --background: #fff;
    // --border-radius: 50px;
    --border-color: transparent;
    margin: 0;
    --background: #fff;
    --border-radius: 50px;
    --padding-top: 0;
    --padding-bottom: 0;

    ion-label {
      font-size: 14px;
      color: var(--ion-color-second-app);
      font-weight: 500;
    }
  }

  ion-button {
    --background : var(--ion-color-second-app)!important;
    --border-radius: 50px!important;
    font-size: 18px !important;
    font-weight: 400;
    width: 100%;
    height: 45px;
    --box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.16);
    text-transform: capitalize;
  }

  p.no-account {
    color: var(--ion-color-second-app)!important;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;

    span {
      color: #A7F781;
      a {
        color: var(--ion-color-second-app)!important;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}



