<ion-content class="background">
  <div class="top-title">
    <h3> Sign Up </h3>
    <!-- <ion-img slot="end" src="../../../assets/images/spray 4.png"> </ion-img> -->
  </div>

  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Firstname</ion-label>
            <ion-input type="text" formControlName="FirstName" required></ion-input>
          </ion-item>
          <ion-text color="danger" class="error ion-padding" *ngIf="registerFormErrors.FirstName">
            {{registerFormErrors.FirstName }}
          </ion-text>
        </ion-col>

        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Lastname</ion-label>
            <ion-input type="text" formControlName="LastName" required></ion-input>
          </ion-item>
          <ion-text color="danger" class="error ion-padding" *ngIf="registerFormErrors.LastName">
            {{ registerFormErrors.LastName }}
          </ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="text" formControlName="PhoneNumber" minlength="11" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerFormErrors.PhoneNumber">{{ registerFormErrors.PhoneNumber }}
          </ion-text>
          <ion-text color="danger" *ngIf="registerForm.controls.PhoneNumber.hasError('minlength')">The phone number must be 12 numbers</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerFormErrors.email"> {{ registerFormErrors.email }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="date" formControllName="Birthdate" required></ion-input>
          </ion-item>
          <ion-text *ngIf="registerFormErrors.Birthdate"> {{ registerFormErrors.Birthdate }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <ion-text *ngIf="registerFormErrors.password">{{ registerFormErrors.password }}</ion-text>
          <ion-text *ngIf="registerForm.controls.password.hasError('minlength')">{{ 'passMin' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" type="password" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="registerFormErrors.confirmPassword">{{registerFormErrors.confirmPassword }}</ion-text>
          <ion-text color="danger" *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">{{ 'notMatch' | translate }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-radio-group formControlName="Gender" value="gender">
              <ion-list-header>
                <ion-label>Gender</ion-label>
              </ion-list-header>

                <ion-row>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label>male</ion-label>
                      <ion-radio slot="start" value="0"></ion-radio>
                    </ion-item>
                  </ion-col>

                  <ion-col size="6">
                    <ion-item>
                      <ion-label>Female</ion-label>
                      <ion-radio slot="start" value="1"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>

            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label>Recommended By</ion-label>
              <ion-select formControlName="recommendedbyId" *ngFor="let recItem of allRecommended" value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option [value]="recItem.id" *ngFor="let item of recItem.recommendedByTranslations"> {{ item.name }} </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-label>I agree terms and conditions</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row ion-align-items-center>
        <ion-col size="12">
          <ion-button
          [disabled]="!registerForm.valid"
          (click)="onRegisterFormSubmit(registerForm.value)"
          >
            Sign Up
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row ion-align-items-center>
        <ion-col size="12">
          <p class="no-account">
            Don’t have an account yet ? <span>
              <a [routerLink]="['/auth/sign-in']"> Sign In </a>
            </span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  </div>

</ion-content>
