<ion-toolbar color="primary">
  <ion-buttons slot="start" *ngIf="router.url !== '/courses/tabs/all-courses' ">
    <ion-back-button mode="ios" defaultHref="" (click)="back()"> </ion-back-button>
  </ion-buttons>

  <ion-toggle (ionChange)="onToggleColorTheme($event)" color="primary"></ion-toggle>

</ion-toolbar>
  <div class="user-notification">
    <ion-icon (click)="toggleModal()" name="notifications"> </ion-icon>
    <span> {{notifiCount}} </span>
    <div *ngIf="toggle" class="user-noti-card">
      <div *ngFor="let itemNotifi of listNotifi">
      <p *ngIf="itemNotifi.type === 0" [routerLink]="['/courses/course-material', itemNotifi.courseId]" [queryParams]="{offset: itemNotifi.offset}"> {{ itemNotifi.courseName }} | You reached page {{ itemNotifi.offset }} </p>
      </div>
    </div>
  </div>

