<!-- <ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>


    <div class="img-profile">
      <ion-avatar slot="end">
        <img src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>Username</ion-label>
    </div>


  <ion-img slot="end" src="../../../assets/images/lang-choose (3).png"></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar>
  <ion-title>
    My Courses
  </ion-title>
</ion-toolbar>

<ion-content>

</ion-content>
