<ion-toolbar>
  <ion-title>
    My Courses
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-grid class="img-course-intro">
    <ion-row>
      <ion-col size="10" >
        <ion-img loading="lazy" src="../../../assets/images/img-intro.png"></ion-img>
        <div class="icon-sound">
          <div class="img-volume">
            <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" src="../../../assets/icon/Vector.png">
          </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>

        <ion-card *ngFor="let course of myCourses" class="course">
          <ion-img  src="{{course.course.imagePath}}"></ion-img>
          <h3 class="ion-padding-top"  color="primary">
            {{course.course.courseTranslations[0]?.title}}
          </h3>
          <ion-item>

            <div slot="end" *ngIf="course.course.courseTranslations[0]?.introVoicePath">
              <div class="icon-sound-course">
                  <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-3" [name]="!course.course.audioElement.status? 'play' : 'stop'" (click)="playIntroHTML(course.course)">
                  </ion-icon>
                </div>
            </div>
            <div class="start" *ngIf="course.userCourse.status == 5">
              <ion-button slot="end"
              (click)="goToChooseCourseMaterial(course.course.id, course.userCourse.courseId)">
                <ion-icon name="eye-outline"></ion-icon>
                Start
              </ion-button>
            </div>
            <div class="start" class="applied" *ngIf="course.userCourse.status == 4">
              <ion-button fill="outline">
                <ion-icon name="time-outline"></ion-icon>
                Pending
              </ion-button>
            </div>
            <div *ngIf="course.userCourse.status == 1">
                <ion-text>Passed</ion-text>
            </div>
            <div class="certi" *ngIf="course.userCourse.status == 1">
                <ion-button (click)="downloadCertificate(course.course.id)">Certificate <ion-icon name="download-outline"></ion-icon></ion-button>
            </div>

            <div class="start" class="expired" *ngIf="course.userCourse.status == 2">
              <ion-button fill="outline">
                <ion-icon name="lock-closed-outline"></ion-icon> Expired</ion-button>
            </div>
            <div class="start" class="expired" *ngIf="course.userCourse.status == 3">
              <ion-button fill="outline" >
                <ion-icon name="lock-closed-outline"></ion-icon> Failed</ion-button>
            </div>
          </ion-item>
        </ion-card>

      </ion-col>



    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
