<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list class="ion-margin-top">

      <ion-menu-toggle>
        <ion-item [routerLink]="['/courses/tabs/all-courses']">
          <ion-icon color="primary" slot="start" name="grid-outline"></ion-icon>
        All Courses
      </ion-item>
      <ion-item [routerLink]="['/courses/tabs/my-courses']">
        <ion-icon color="primary" slot="start" name="documents-outline"></ion-icon>
        My Courses
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="document-text-outline"></ion-icon>
        privacy policy
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="chatbox-ellipses-outline"></ion-icon>
        Faq
      </ion-item>
      <ion-item [routerLink]="['/auth/user-profile']">
        <ion-icon color="primary" slot="start" name="settings-outline"></ion-icon>
        Setting
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-item>
      </ion-menu-toggle>

    </ion-list>

    <ion-list class="ion-margin-top info">
      <ion-item>
        <ion-icon name="map-outline"></ion-icon>
        <ion-text> Lorem ipsum dolor sit amet, consectetur </ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-text> 0000-000-00 </ion-text>
      </ion-item>
      <ion-item><ion-icon name="mail-outline"></ion-icon>
       <ion-text> info@example.com </ion-text>
      </ion-item>

    </ion-list>

    <div class="social-media">
      <ul>
        <li> <a href=""> <ion-img src="../assets/icon/facebook.png"></ion-img></a> </li>
        <li> <a href=""> <ion-img src="../assets/icon/instagram.png"></ion-img></a> </li>
        <li> <a href=""> <ion-img src="../assets/icon/youtube (1) 1.png"></ion-img></a> </li>
      </ul>
    </div>

  </ion-content>
</ion-menu>



<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
