<div  class="sound-popup">
<div class="sound">
  <div class="sound-bg">
    <div class="img-volume">
      <ion-img
      class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
    </ion-img>
    </div>
  </div>
  <img src="../../../assets/icon/tu.png" alt="" />
</div>
<div class="sound">
  <div class="sound-bg">
    <div class="img-volume">
      <ion-img
      class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
    </ion-img>
    </div>
  </div>
  <img src="../../../assets/icon/da.png" alt="" />
</div>
</div>
