  <app-top-header></app-top-header>

  <div class="top-title">
    <h3> Contact us</h3>
  </div>

<ion-content class="contact-us">

  <ul class="list-group">
  <li class="list-group-item">
    <ion-icon name="mail-outline"></ion-icon>
    <a href="mailto:academy@khrs.dk"> <ion-text> academy@khrs.dk </ion-text> </a>
  </li>
  <li class="list-group-item">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <ion-text> + 45 35 36 22 09 </ion-text>
  </li>
  <li class="list-group-item">
    <ion-icon name="map-outline"></ion-icon>
    <ion-text> Vibevej 20, 3tv <p> 2400 København NV </p> </ion-text>
  </li>
  </ul>

</ion-content>
