<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>


    <div class="img-profile">
      <ion-avatar slot="end">
        <img src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>Username</ion-label>
    </div>


  <ion-img class="ion-margin-end" slot="end" src="../../../assets/images/lang-choose (3).png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-title>
    Update Profile
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-list *ngIf="userInfo">
            <ion-item>
              <ion-label color="primary"> Firstname: {{ userInfo.firstname }} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary"> Lastname: {{ userInfo.lastname }} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary"> Phone Number: 000-0000-000 </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary"> Email : {{ userInfo.email }} </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary"> Gender: Male </ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary"> Birthday : 00-00-0000 </ion-label>
            </ion-item>

            <ion-item>
              <ion-button> <ion-icon name="create-outline"></ion-icon> Edit </ion-button>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-title>
      Update Password
    </ion-title>
  </ion-toolbar>

  <form [formGroup]="passwordForm" (ngSubmit)="updatedPassword()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label position="floating" color="primary">Current Password</ion-label>
            <ion-input formControlName='currentPassword' type="password" minlength="6" required></ion-input>
          </ion-item>

          <ion-text color="danger" *ngIf="passwordFormErrors.currentPassword">
            {{ passwordFormErrors.currentPassword }}
          </ion-text>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">New Password</ion-label>
            <ion-input formControlName='newPassword' type="password" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="passwordFormErrors.newPassword">
            {{ passwordFormErrors.newPassword }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating" color="primary">Confirm Password</ion-label>
            <ion-input formControlName='confirmPassword' type="password" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="passwordFormErrors.confirmPassword">
            {{ passwordFormErrors.confirmPassword }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>




    <ion-grid>
      <ion-row ion-align-items-center>
        <ion-col size="12">
          <ion-button>
            <ion-icon name="checkmark-outline"></ion-icon>
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>

