<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-icon slot="start" name="menu"></ion-icon>

    <div class="img-profile">
      <ion-avatar slot="end">
        <img src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>Username</ion-label>
    </div>


  <ion-img slot="end" src="../../../assets/images/lang-choose (3).png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>


