<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>


    <div class="img-profile">
      <ion-avatar slot="end">
        <img src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>Username</ion-label>
    </div>

  <ion-img class="ion-margin-end" slot="end" src="../../../assets/images/lang-choose (3).png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-title>
    single choice
  </ion-title>
  <ion-icon slot="end"  name="help-circle-outline"></ion-icon>
</ion-toolbar>

<ion-content>
  <form>
    <ion-list class="single-choice">
      <div class="sound-lang">
        <div class="sound">
          <div class="sound-bg">
            <div class="img-volume">
              <ion-img
              class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
            </ion-img>
            </div>
          </div>
          <img src="../../../assets/icon/da.png" alt="" />
        </div>

        <div class="sound">
          <div class="sound-bg">
            <div class="img-volume">
              <ion-img
              class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
            </ion-img>
            </div>
          </div>
          <img src="../../../assets/icon/tu.png" alt="" />
        </div>
      </div>
      <ion-radio-group>
        <ion-list-header>

          <ion-text>
            Lorem ipsum dolor sit amet, consectetur ?
          </ion-text>
        </ion-list-header>

        <ion-item>
          <ion-label>Lorem ipsum dolor</ion-label>
          <ion-radio value="cord"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Lorem ipsum dolor</ion-label>
          <ion-radio value="duesenberg"></ion-radio>
        </ion-item>

      </ion-radio-group>

      <ion-grid>
        <ion-row class="ion-padding">
          <ion-button (click)="check()"> Check </ion-button>
        </ion-row>
      </ion-grid>

    </ion-list>
  </form>
</ion-content>


