<ion-header class="course">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/training"> </ion-back-button>
    </ion-buttons>

    <ion-menu-button slot="start"></ion-menu-button>

    <div class="img-profile">
      <ion-avatar slot="end">
        <img *ngIf="userInfo" [src]="userInfo.imagePath">
        <img *ngIf="userInfo === '' || userInfo.imagePath === null"
        src="../../../assets/images/image profille (1).png">
      </ion-avatar>
      <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
    </div>

    <ion-avatar class="ion-margin-end"  slot="end">
      <img class="img-langauge" [src]="userInfo.languageIcon">
    </ion-avatar>  </ion-toolbar>
</ion-header>


<!-- <ion-toolbar>
  <ion-title>
    start training
  </ion-title>
</ion-toolbar> -->

<ion-content>

  <ion-grid class="img-course-intro">
    <ion-row>
      <ion-col size="10">
        <ion-img src="../../../assets/images/img-intro.png"></ion-img>
        <div class="icon-sound">
          <div class="img-volume">
            <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
          </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h3 class="training-title ion-text-center"> Please Choose Exercise </h3>
    <ion-row

     class="ion-align-self-center">
      <ion-col
        *ngFor="let item of chooseTraining" size="6"
        (click)="goToCatExercise(item.url, item.exerciseId, item.courseId)">

        <div class="col-block">
          <ion-img [src]="item.img"></ion-img>
          <ion-text><a> {{item.name}} </a></ion-text>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


