
.images-block {
  text-align: center;
  .success-photos {
      margin: 8px auto;

      img {
        max-width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 20%;
      }
  }
}
